h2 {
    color: #5A422A; 
    margin: 0 0 10px 0; 
  }
  
  p {
    color: #5A422A; 
    font-size: 16px; 
    margin: 5px 0 15px 0; 
  }
  
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    background-color: #DAA520; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #B8860B; 
  }
  
  p {
    min-width: 20px; 
    text-align: center;
  }
  